.DS_Store
**/.DS_Store
.theos/
packages/
jbroot.h
libjbpath.dylib
RootHide/.DS_Store
RootHide/.DS_Store
RootHide/Assets.xcassets/.DS_Store
RootHide/.DS_Store
RootHide/.DS_Store
RootHide.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
RootHide.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
RootHide.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
