Package: com.roothide.manager
Name: RootHide Manager
Version: 0.3
Architecture: iphoneos-arm64e
Depends: firmware (>= 15.0)
Description: Configuare RootHide's Features
Maintainer: RootHide
Author: RootHide
Section: System
Icon: 
Depiction: https://github.com/RootHide/RootHideManagerApp
Support: https://github.com/RootHide/RootHideManagerApp
